<div class="col-md-6">
  <h2 class="text-center"> List Users</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th width="100px">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td style='white-space: nowrap'>
        <button class="btn btn-info" (click)="editUser(user)"> Edit</button>
        <button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
